dash==2.18.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-sdk==0.52.0
databricks-sql-connector==4.0.3
gitdb==4.0.12
GitPython==3.1.44
mlflow-skinny[databricks]==2.16.2
pandas==2.2.3
SQLAlchemy==2.0.40
sqlparse==0.5.3
psycopg2-binary
python-dotenv